---
interface Props {
  tags: string[];
}

import { formatTag } from '../utils/taxonomy';

const { tags } = Astro.props;
const formattedTags = [...new Set(tags.map(formatTag))];
---

<div class="chip-row" aria-label="標籤">
  {formattedTags.map((tag) => <a class="tag" href={`/tags/${encodeURIComponent(tag)}/`}>{tag}</a>)}
</div>
